<p>
  <%= comment.date %> <strong><%= comment.commenter %></strong>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <% if logged_in? %>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
